Repository openhab/openhab-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: section => add-ons, section => administration, section => configuration, section => development, section => installation, section => tutorials

.github/labeler.yml:

"section => add-ons":
  - addons/*

"section => administration":
  - administration/*

"section => configuration":
  - configuration/*

"section => development":
  - developers/*

"section => installation":
  - installation/*

"section => tutorials":
  - tutorials/*

Updated external 2.5.x content (Jenkins build 452)
  _addons_bindings/darksky/readme.md
  _addons_bindings/network/readme.md
Labels: none

Updated external 2.5.x content (Jenkins build 453)
  _addons_bindings/tradfri/readme.md
Labels: none

Update items.md
  concepts/items.md
Labels: none

Update rules-dsl.md
  configuration/rules-dsl.md
Labels: section => configuration

Updated external 2.5.x content (Jenkins build 455)
  _addons_bindings/squeezebox/readme.md
  _addons_bindings/zwave/doc/aeon/zw095_0_0.md
  _addons_bindings/zwave/doc/cooper/rf96pirbms_0_0.md
  _addons_bindings/zwave/doc/isurpass/jwzho201514_0_0.md
  _addons_bindings/zwave/doc/leviton/vrcz1_0_0.md
  _addons_bindings/zwave/doc/merten/50x5xx_0_0.md
  _addons_bindings/zwave/doc/oomi/ft098_0_0.md
  _addons_bindings/zwave/doc/oomi/ft149_0_0.md
  _addons_bindings/zwave/doc/zooz/zen22_20_15.md
  _addons_bindings/zwave/doc/zooz/zen24_20_15.md
  _addons_transformations/jsonpath/readme.md
Labels: none

Adding 12 new logos for OH Add-Ons page on website
  images/addons/akm8681.png
  images/addons/ambientweather.png
  images/addons/bluetooth.bluez.png
  images/addons/bluetooth.ruuvitag.png
  images/addons/boschindego.png
  images/addons/buienradar.png
  images/addons/cardio2e1.png
  images/addons/cm11a.png
  images/addons/comfoair1.png
  images/addons/darksky.png
  images/addons/googletts.png
  images/addons/upb1.png
Labels: none

Adding 12 new logos for OH Add-Ons page on website
  images/addons/akm8681.png
  images/addons/ambientweather.png
  images/addons/bluetooth.bluez.png
  images/addons/bluetooth.ruuvitag.png
  images/addons/boschindego.png
  images/addons/buienradar.png
  images/addons/cardio2e1.png
  images/addons/cm11a.png
  images/addons/comfoair1.png
  images/addons/darksky.png
  images/addons/googletts.png
  images/addons/upb1.png
Labels: none

Updated external 2.5.x content (Jenkins build 456)
  _addons_bindings/exec/readme.md
  _addons_bindings/pjlinkdevice/readme.md
  _addons_transformations/javascript/readme.md
Labels: none

Update items.md (#1156)
  concepts/items.md
Labels: none

Added var and VA units to UoM (#1146)
  concepts/units-of-measurement.md
Labels: none

Fix filepath to keystore (#1148)
  installation/security.md
Labels: section => installation

Slight language corrections (#1150)
  configuration/packages.md
Labels: section => configuration

additional example for non default persistence service (#1152)
  configuration/persistence.md
Labels: section => configuration

Updated external 2.5.x content (Jenkins build 457)
  _addons_bindings/exec/readme.md
  _addons_transformations/exec/readme.md
Labels: none

Adding 12 new logos for OH Add-Ons page on website (#1158)
  images/addons/akm8681.png
  images/addons/ambientweather.png
  images/addons/bluetooth.bluez.png
  images/addons/bluetooth.ruuvitag.png
  images/addons/boschindego.png
  images/addons/buienradar.png
  images/addons/cardio2e1.png
  images/addons/cm11a.png
  images/addons/comfoair1.png
  images/addons/darksky.png
  images/addons/googletts.png
  images/addons/upb1.png
Labels: none

Updated external 2.5.x content (Jenkins build 459)
  _addons_bindings/ambientweather/readme.md
  _addons_bindings/bluetooth.bluez/readme.md
  _addons_bindings/bluetooth.ruuvitag/readme.md
  _addons_bindings/boschindego/readme.md
  _addons_bindings/buienradar/readme.md
  _addons_bindings/cm11a/readme.md
  _addons_bindings/darksky/readme.md
  _addons_voices/googletts/readme.md
Labels: none

Revert "Adding 12 new logos for OH Add-Ons page on website"
  images/addons/akm8681.png
  images/addons/ambientweather.png
  images/addons/bluetooth.bluez.png
  images/addons/bluetooth.ruuvitag.png
  images/addons/boschindego.png
  images/addons/buienradar.png
  images/addons/cardio2e1.png
  images/addons/cm11a.png
  images/addons/comfoair1.png
  images/addons/darksky.png
  images/addons/googletts.png
  images/addons/upb1.png
Labels: none

Adding 12 new logos for add-ons page
  images/addons/akm8681.png
  images/addons/ambientweather.png
  images/addons/bluetooth.bluez.png
  images/addons/bluetooth.ruuvitag.png
  images/addons/boschindego.png
  images/addons/buienradar.png
  images/addons/cardio2e1.png
  images/addons/cm11a.png
  images/addons/comfoair1.png
  images/addons/darksky.png
  images/addons/googletts.png
  images/addons/upb1.png
Labels: none

Cleaned up blank lines, fixed table, and added file name for SimpleRule
  configuration/jsr223.md
Labels: section => configuration

Updated external 2.5.x content (Jenkins build 460)
  _addons_bindings/mqtt.homeassistant/readme.md
  _addons_bindings/telegram/readme.md
  _addons_transformations/regex/readme.md
  _addons_transformations/xslt/readme.md
Labels: none

Add 12 new logos for add-ons page (#1159)
  README.md
  images/addons/akm8681.png
  images/addons/ambientweather.png
  images/addons/bluetooth.bluez.png
  images/addons/bluetooth.ruuvitag.png
  images/addons/boschindego.png
  images/addons/buienradar.png
  images/addons/cardio2e1.png
  images/addons/cm11a.png
  images/addons/comfoair1.png
  images/addons/darksky.png
  images/addons/googletts.png
  images/addons/upb1.png
Labels: none

Added note about broken action
  addons/actions.md
Labels: section => add-ons
