Repository openhab/openhab-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: section => add-ons, section => administration, section => configuration, section => development, section => installation, section => tutorials

Updated external content (Jenkins build 431)
  _addons_bindings/amazonechocontrol/readme.md
  _addons_bindings/bluetooth.bluez/readme.md
  _addons_bindings/darksky/readme.md
  _addons_bindings/dsmr/readme.md
  _addons_bindings/fsinternetradio/readme.md
  _addons_bindings/ftpupload/readme.md
  _addons_bindings/logreader/readme.md
  _addons_bindings/miele/readme.md
  _addons_bindings/mqtt.generic/readme.md
  _addons_bindings/nanoleaf/readme.md
  _addons_bindings/network/readme.md
  _addons_bindings/nibeheatpump/readme.md
  _addons_bindings/opensprinkler/readme.md
  _addons_bindings/rfxcom/readme.md
  _addons_bindings/samsungtv/readme.md
  _addons_bindings/telegram/readme.md
  _addons_bindings/tesla/readme.md
  _addons_bindings/toon/readme.md
  _addons_bindings/tplinksmarthome/readme.md
  _addons_bindings/zwave/doc/abus/shbw10000_0_0.md
  _addons_bindings/zwave/doc/abus/shhm10000_0_0.md
  _addons_bindings/zwave/doc/aeon/zw111_2_3.md
  _addons_bindings/zwave/doc/aeotec/zw164_0_0.md
  _addons_bindings/zwave/doc/benext/heatingcontrol_0_0.md
  _addons_bindings/zwave/doc/danfoss/rxz2c_0_0.md
  _addons_bindings/zwave/doc/ge/46203_0_0.md
  _addons_bindings/zwave/doc/merten/5046xx_0_0.md
  _addons_bindings/zwave/doc/nietech/smartplugswitch_0_0.md
  _addons_bindings/zwave/doc/qubino/minidimmer_0_0.md
  _addons_bindings/zwave/doc/qubino/zmnhhd_0_0.md
  _addons_bindings/zwave/doc/simontech/1000204113x_0_0.md
  _addons_bindings/zwave/doc/sunricher/zv9001k4dim_0_0.md
  _addons_bindings/zwave/doc/zooz/zen30_0_0.md
  _addons_bindings/zway/doc/GETTING_STARTED.md
  _addons_ios/azureiothub/readme.md
  _addons_ios/google-assistant/readme.md
  _addons_transformations/scale/readme.md
Labels: none

Move restdocs to ui in addons.cfg
  configuration/addons.md
Labels: section => configuration

Move restdocs to ui in addons.cfg (#1139)
  configuration/addons.md
Labels: section => configuration

Changed "Joda DateTime" to "ZonedDateTime"
  addons/actions.md
Labels: section => add-ons

Changed "Joda DateTime" to "ZonedDateTime" (#1140)
  addons/actions.md
Labels: section => add-ons

[eclipse] Adapted ide documentation for 2.5.x
  developers/ide/eclipse.md
Labels: none

Updated external content (Jenkins build 433)
  _addons_bindings/nanoleaf/doc/LightPanels2_small.jpg
  _addons_bindings/nanoleaf/doc/NanoCanvas.jpg
  _addons_bindings/nanoleaf/doc/NanoCanvas_small.jpg
  _addons_bindings/nanoleaf/readme.md
  _addons_bindings/paradoxalarm/readme.md
Labels: none

Updated external content (Jenkins build 434)
  _addons_bindings/zwave/doc/abus/shlm10000_0_0.md
  _addons_bindings/zwave/doc/danfoss/lc13_0_0.md
  _addons_bindings/zwave/doc/kwikset/914trlv3_0_0.md
  _addons_bindings/zwave/doc/popp/pope700982_0_0.md
  _addons_bindings/zwave/doc/tkb/tz55d_0_0.md
  _addons_bindings/zwave/doc/zooz/zen26v2_2_0.md
  _addons_bindings/zwave/doc/zooz/zse19_0_0.md
  _addons_bindings/zwave/doc/zooz/zse29_0_0.md
  _addons_bindings/zwave/doc/zooz/zse29v2_2_0.md
Labels: none

Update restdocs.md
  configuration/restdocs.md
Labels: section => configuration

Corrected and updated logging example
  administration/logging.md
Labels: section => administration

Updated external content (Jenkins build 436)
  _addons_bindings/meteoblue/readme.md
  _addons_bindings/millheat/readme.md
  _addons_ios/google-assistant/readme.md
Labels: none

Update restdocs.md (#1143)
  configuration/restdocs.md
Labels: section => configuration

Corrected and updated logging example (#1144)
  administration/logging.md
Labels: section => administration

[eclipse] Adapted ide documentation for 2.5.x (#1141)
  developers/ide/eclipse.md
Labels: none

Updated external content (Jenkins build 439)
  _addons_bindings/homematic/readme.md
  _addons_bindings/mqtt.generic/readme.md
  _addons_bindings/onewire/readme.md
  _addons_bindings/somfytahoma/readme.md
Labels: none

Updated external content (Jenkins build 440)
  _addons_bindings/lutron/readme.md
Labels: none

Added cross link and annotation in example
  developers/utils/events.md
Labels: none

Added cross link and annotation in example (#1145)
  developers/utils/events.md
Labels: none

Updated external content (Jenkins build 442)
  _addons_bindings/dsmr/readme.md
  _addons_bindings/freeswitch1/readme.md
  _addons_bindings/icloud/readme.md
  _addons_bindings/onewiregpio/readme.md
  _addons_voices/googletts/readme.md
Labels: none

Updated external content (Jenkins build 444)
  _addons_bindings/pulseaudio/readme.md
Labels: none

Updated external content (Jenkins build 445)
  _addons_bindings/deconz/readme.md
  _addons_bindings/wifiled/readme.md
  _addons_bindings/xmltv/readme.md
  _addons_bindings/zwave/doc/aeotec/zw164_0_0.md
  _addons_bindings/zwave/doc/fibaro/fgrgbw442_0_0.md
  _addons_bindings/zwave/doc/fibaro/fgwdeu111_0_0.md
  _addons_bindings/zwave/doc/fibaro/fgwdseu_0_0.md
  _addons_bindings/zwave/doc/ge/zw4006_0_0.md
  _addons_bindings/zwave/doc/johnson/konozw_0_0.md
  _addons_bindings/zwave/doc/mcohome/a8co2_0_0.md
  _addons_bindings/zwave/doc/mcohome/mhdt311_0_0.md
  _addons_bindings/zwave/doc/nietech/smartplugswitch_0_0.md
  _addons_bindings/zwave/doc/qubino/luxyswitch_0_0.md
  _addons_bindings/zwave/doc/qubino/smartplug_0_0.md
  _addons_bindings/zwave/doc/qubino/zmnhad_0_0.md
  _addons_bindings/zwave/doc/qubino/zmnhdd_0_0.md
  _addons_bindings/zwave/doc/qubino/zmnhnd_0_0.md
  _addons_bindings/zwave/doc/telldus/tzwp102_0_0.md
  _addons_bindings/zwave/doc/tkb/tz55d_0_0.md
  _addons_bindings/zwave/doc/vda/wallz503_0_0.md
  _addons_bindings/zwave/doc/zooz/zen24_20_15.md
Labels: none

Updated external content (Jenkins build 446)
  _addons_bindings/enocean/readme.md
Labels: none

Updated external content (Jenkins build 448)
  _addons_bindings/nanoleaf/readme.md
Labels: none

Added var and VA units to UoM
  concepts/units-of-measurement.md
Labels: none

Tiny grammar corrections
  developers/legacy/compatibilitylayer.md
Labels: none

Fix filepath to keystore
  installation/security.md
Labels: section => installation

Update sitemaps.md
  configuration/sitemaps.md
Labels: section => configuration

Tiny grammar corrections (#1147)
  developers/legacy/compatibilitylayer.md
Labels: none

Slight language corrections
  configuration/packages.md
Labels: section => configuration

Updated external content (Jenkins build 449)
  _addons_bindings/airquality/readme.md
  _addons_bindings/dwdunwetter/readme.md
  _addons_bindings/freebox/readme.md
  _addons_bindings/fsinternetradio/readme.md
  _addons_bindings/lgwebos/readme.md
  _addons_bindings/shelly/doc/DEVNOTES - API JSON Samples.md
  _addons_bindings/shelly/readme.md
  _addons_bindings/wemo/readme.md
  _addons_bindings/zwave/doc/aeotec/zw175_0_0.md
  _addons_bindings/zwave/doc/bremicker/abuscfa3010_0_0.md
  _addons_bindings/zwave/doc/cooper/rftr9605_0_0.md
  _addons_bindings/zwave/doc/eurotronic/spirit_0_0.md
  _addons_bindings/zwave/doc/fibaro/fgt001_0_0.md
  _addons_bindings/zwave/doc/inovelli/lzw31sn_0_0.md
  _addons_bindings/zwave/doc/mcohome/a8co2_0_0.md
  _addons_bindings/zwave/doc/mcohome/mh8fcplus2_0_0.md
  _addons_bindings/zwave/doc/mcohome/mhdt311_0_0.md
  _addons_bindings/zwave/doc/qubino/zmnhad_0_0.md
  _addons_bindings/zwave/doc/qubino/zmnhqd_0_0.md
  _addons_bindings/zwave/doc/zooz/zen16_0_0.md
  _addons_bindings/zwave/doc/zooz/zen22_20_15.md
  _addons_bindings/zwave/doc/zooz/zen26v2_2_0.md
  _addons_bindings/zwave/doc/zooz/zen30_0_0.md
  _addons_bindings/zwave/doc/zooz/zse29v2_2_0.md
  _addons_bindings/zwave/doc/zwaveme/kfob_0_0.md
  _addons_ios/alexa-skill/readme.md
Labels: none

tip if you installed from openHABian
  administration/console.md
Labels: section => administration

additional example for non default persistence service
  configuration/persistence.md
Labels: section => configuration

Updated external content (Jenkins build 450)
  _addons_bindings/opengarage/readme.md
  _addons_bindings/zwave/doc/cooper/rftr9605_0_0.md
  _addons_bindings/zwave/doc/inovelli/lzw60_0_0.md
  _addons_bindings/zwave/doc/mcohome/a8co2_0_0.md
  _addons_bindings/zwave/doc/oomi/ft096_0_0.md
  _addons_bindings/zwave/doc/philio/psm08_0_0.md
  _addons_bindings/zwave/doc/polycontrol/btze_0_0.md
  _addons_bindings/zwave/doc/polycontrol/umv3btze_0_0.md
  _addons_bindings/zwave/doc/popp/700854_2_4.md
  _addons_bindings/zwave/doc/qubino/luxyswitch_0_0.md
  _addons_bindings/zwave/doc/qubino/zmnhhd_0_0.md
  _addons_bindings/zwave/doc/qubino/zmnhqd_0_0.md
  _addons_bindings/zwave/doc/qubino/zmnhyd_0_0.md
Labels: none

Update README (2.5.x)
  README.md
Labels: none

Update README (3.x)
  README.md
Labels: none

Update preview site title (3.x)
  .vuepress/config.js
Labels: none

Remove reference to openhab1-addons
  README.md
Labels: none

Update README (2.5.x) (#1153)
  README.md
Labels: none

Update README (3.x) (#1154)
  README.md
Labels: none

Update preview site title (3.x) (#1155)
  .vuepress/config.js
Labels: none

.github/labeler.yml:

"section => add-ons":
  - addons/*

"section => administration":
  - administration/*

"section => configuration":
  - configuration/*

"section => development":
  - developers/*

"section => installation":
  - installation/*

"section => tutorials":
  - tutorials/*
