Repository openhab/openhab-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: section => add-ons, section => administration, section => configuration, section => development, section => installation, section => tutorials

.github/labeler.yml:

"section => add-ons":
  - addons/*

"section => administration":
  - administration/*

"section => configuration":
  - configuration/*

"section => development":
  - developers/*

"section => installation":
  - installation/*

"section => tutorials":
  - tutorials/*

Added cubic metre
  concepts/units-of-measurement.md
Labels: none

Added cubic metre (#1125)
  concepts/units-of-measurement.md
Labels: none

Added tabulation
  installation/security.md
Labels: section => installation

update security.md (#1122)
  installation/security.md
Labels: section => installation

Fixed a broken anchor to Thing lifecycle paragraph (#1120)
  developers/bindings/index.md
Labels: none

Update units-of-measurement.md (#1123)
  concepts/units-of-measurement.md
Labels: none

Remove getting started as proposed
  installation/armbian.md
Labels: section => installation

Adapted vuepress configs and scripts due to OH3 branch changes.
  .vuepress/add_placeholders.rb
  .vuepress/docs-sidebar.js
  .vuepress/process_file.rb
Labels: none

add IntelliJ developer setup HowTo
  developers/ide/images/ide_setup_intellij_debug_configuration.png
  developers/ide/intellij.md
Labels: none

fixed minor formatting issue
  developers/ide/intellij.md
Labels: none

Add troubleshooting section
  installation/docker.md
Labels: section => installation

Introduced function parameter and renamed openhab-addons repository.
  pom.xml
  update-external-resources.sh
Labels: none

Remove double quotes
  update-external-resources.sh
Labels: none

Clone new repos on specific branch
  update-external-resources.sh
Labels: none

Trim branch parameter
  update-external-resources.sh
Labels: none

Update docs for openhab2-addons repo rename
  .vuepress/process_file.rb
  README.md
  developers/bindings/index.md
  developers/contributing.md
  developers/ide/eclipse.md
  developers/ide/vscode.md
  developers/index.md
  developers/legacy/ide.md
Labels: section => development

Correction of unit spellings
  concepts/units-of-measurement.md
Labels: none

Revert third parameter change.
  update-external-resources.sh
Labels: none

Fix website build and introduce 2.5.x based docs (#1131)
  pom.xml
  update-external-resources.sh
Labels: none

Fix artifactory file handling.
  update-external-resources.sh
Labels: none

Fixed jfrog file handling (#1132)
  update-external-resources.sh
Labels: none

Apply suggestions from code review
  developers/ide/intellij.md
Labels: none

fixed heading hierarchy
  developers/ide/intellij.md
Labels: none

add IntelliJ developer setup HowTo (#1127)
  developers/ide/images/ide_setup_intellij_debug_configuration.png
  developers/ide/intellij.md
Labels: none

Correction of unit spellings (#1130)
  concepts/units-of-measurement.md
Labels: none

Installation instructions for Armbian (#1119)
  installation/armbian.md
  installation/images/armbian-step1.png
  installation/images/armbian-step2.png
  installation/images/armbian-step3.png
  installation/images/armbian-step4.png
  installation/images/armbian-step5.png
  installation/images/boards1.png
Labels: section => installation

Add armbian to previews sidebar config
  .vuepress/docs-sidebar.js
Labels: none

Added settings.json and references to it
  developers/ide/examples/vscode/settings.json
  developers/ide/vscode.md
Labels: none

Fix typos
  developers/ide/vscode.md
Labels: none

Pull request fixes
  installation/docker.md
Labels: section => installation

Add troubleshooting section (#1128)
  installation/docker.md
Labels: section => installation

VSCode add to setting (#1124)
  developers/ide/examples/vscode/settings.json
  developers/ide/images/ide_setup_vscode_settings.png
  developers/ide/vscode.md
Labels: none

Add armbian to previews sidebar config
  .vuepress/docs-sidebar.js
Labels: none

Add armbian to sidebar
  .vuepress/docs-sidebar.js
Labels: none

Add armbian to sidebar (#1135)
  .vuepress/docs-sidebar.js
Labels: none

Changed related to rename of openHAB2-addons (#1114)
  .vuepress/process_file.rb
  .vuepress/process_main_docs.rb
  README.md
  developers/bindings/index.md
  developers/contributing.md
  developers/guidelines.md
  developers/ide/eclipse.md
  developers/ide/vscode.md
  developers/index.md
  developers/legacy/compatibilitylayer.md
  developers/legacy/ide.md
  developers/legacy/images/ide0.png
  developers/legacy/images/ide1.png
  developers/legacy/targetplatform.md
  developers/legacy/tycho.md
Labels: section => development

Minor fix to code example
  developers/bindings/index.md
Labels: none

Minor fix to code example (#1137)
  developers/bindings/index.md
Labels: none

Remove bluetooth from Linux setup docs
  installation/linux.md
Labels: section => installation

Remove bluetooth from Linux setup docs (#1138)
  installation/linux.md
Labels: section => installation
