Repository openhab/openhab-docs, pull requests merged in 2018-06, with the labels that each got.

#696 s/MacOS/macOS
  _addons_bindings/mios1/examples/scripts/README.md
  _addons_bindings/network/readme.md
  _addons_voices/mactts/readme.md
  addons/index.md
Labels: priority: middle, type: enhancement

#705 Fix broken link to Beginner tutorial
  installation/index.md
Labels: priority: middle, section: installation

#707 Beginner Tutorial - fix typos and remove wrong reference
  tutorials/beginner/configuration.md
Labels: priority: middle, section: tutorials

#281 Add content to jsondb.md
  administration/jsondb.md
Labels: priority: middle, section: administration

#716 Update logs.md
  tutorials/beginner/logs.md
Labels: priority: middle, section: tutorials

#714 [administration/jsondb.md]Changed images from imageshack to local saved ones.
  administration/images/add_thing_paper_ui.png
  administration/images/edit_thing_paper_ui.png
  administration/images/new_json_file.png
  administration/jsondb.md
Labels: priority: middle, section: administration, type: enhancement

#715 [configuration/addons.md] Initial commit (Moved from deprecated addons page)
  configuration/addons.md
  configuration/images/addons_index_installation_paperui.gif
Labels: priority: high, section: configuration

#718 Improved addons title and url.
  configuration/index.md
Labels: priority: middle, quick fix, section: configuration

#724 Revert #723 partially
  configuration/persistence.md
  configuration/sitemaps.md
Labels: priority: middle, section: configuration
