Repository openhab/openhab-docs, pull requests merged in 2018-07, with the labels that each got.

#698 Clarify Contact Items
  configuration/items.md
Labels: external source, priority: middle :soon::tm:, section: configuration

#722 [README.md] Refactoring of the README file
  README.md
  images/contribution_link.png
Labels: orga: unfinished, priority: high :fire:

#739 Update jsr223.md with multiple scope additions
  configuration/jsr223.md
Labels: Feedback, priority: middle :soon::tm:, section: configuration

#738 items.md: override labels
  configuration/items.md
  configuration/sitemaps.md
Labels: priority: middle :soon::tm:, section: configuration

#735 Fixed zulu links and added some quickfixes.
  installation/linux.md
Labels: priority: middle :soon::tm:, section: installation
