Repository openhab/openhab-docs, pull requests merged in 2018-10, with the labels that each got.

#781 Update ide.md
  developers/development/ide.md
Labels: priority: middle :soon::tm:, section: development, type: enhancement :gem:

#776 Updating to reflect changes since OH 2 pre release
  tutorials/migration.md
Labels: priority: high :fire:, section: tutorials, type: enhancement :gem:

#755 Serial configuration section added
  administration/serial.md
Labels: priority: middle :soon::tm:, section: administration, stat: dependency :collision:

#743 Fix math for converting ColorItem HSBTypes to RGB
  configuration/rules-dsl.md
Labels: priority: middle :soon::tm:, section: configuration

#793 Removed old url
  README.md
Labels: priority: middle :soon::tm:, quick fix
