Repository openhab/openhab-docs, pull requests merged in 2019-12, with the labels that each got.

#1096 Fixed one typo "Sting" in HTTP Action
  addons/actions.md
Labels: section => add-ons

#1095 Update manual systemd configuration
  installation/linux.md
Labels: section => installation

#1097 Update JSR223 docs for renamed automation package
  configuration/jsr223-jython.md
  configuration/jsr223.md
Labels: section => configuration

#1099 Fix typo
  developers/index.md
Labels: section => development

#1107 Clarification for where to look for other examples
  addons/actions.md
Labels: section => add-ons

#1112 [http-actions] Add documentation on new Http actions with headers
  addons/actions.md
Labels: section => add-ons

#1111 [nginx]Diffie-Hellman key size
  installation/security.md
Labels: section => installation

#1103 Refactor concepts/categories.md page.
  .vuepress/process_main_docs.rb
  concepts/categories.md
Labels: section => concepts, stat: dependency :collision:

#1108 Update Notepad++ user defined languages link
  configuration/editors.md
Labels: orga: research needed, section => configuration

#1036 Update Unit of Measurements with new Units from openhab-core
  concepts/units-of-measurement.md
Labels: section => concepts

#1113 [exec-action] Clarify the use of @@ for executeCommandLine action
  addons/actions.md
Labels: section => add-ons

#1118 Corrected "adding dependencies" link
  developers/index.md
Labels: section => development

#1117 Introduced many custom containers.
  addons/actions.md
  administration/console.md
  administration/jsondb.md
  administration/runtime.md
  administration/serial.md
  configuration/eclipseiotmarket.md
  configuration/index.md
  configuration/jsr223-jython.md
  configuration/jsr223.md
  configuration/rules-dsl.md
  configuration/sitemaps.md
  configuration/things.md
  developers/bindings/index.md
  developers/guidelines.md
  developers/utils/events.md
  installation/docker.md
  installation/linux.md
  installation/security.md
  tutorials/beginner/configuration.md
  tutorials/beginner/sitemap.md
  tutorials/migration.md
Labels: section => add-ons, section => administration, section => configuration, section => development, section => installation, section => tutorials

#1121 Switch elements cannot have nested groups
  configuration/sitemaps.md
Labels: section => configuration
