Repository openhab/openhab-docs, pull requests merged in 2019-01, with the labels that each got.

#788 process addons groovy update
  process_addons.groovy
Labels: priority: high :fire:

#721 Added google assistant to external ressources.
  pom.xml
  update-external-resources.sh
Labels: orga: question :grey_question:, priority: middle :soon::tm:

#866 Fix typos/grammar in introduction.md
  introduction.md
Labels: priority: middle :soon::tm:, quick fix, type: enhancement :gem:

#868 Clarify rules-dsl.md
  configuration/rules-dsl.md
Labels: priority: middle :soon::tm:, section: configuration, type: enhancement :gem:

#867 Fix compare with null to !== instead of !=
  addons/actions.md
Labels: priority: middle :soon::tm:, section: add-ons, type: enhancement :gem:

#865 Fix links
  addons/index.md
  configuration/habpanel.md
  configuration/items.md
  configuration/paperui.md
  configuration/sitemaps.md
  configuration/things.md
  configuration/transform.md
  installation/qnap.md
  installation/windows.md
  tutorials/beginner/configuration.md
  tutorials/migration.md
Labels: priority: middle :soon::tm:, type: enhancement :gem:
