Repository openhab/openhab-docs, pull requests merged in 2020-05, with the labels that each got.

#1209 fix typo
  installation/index.md
Labels: section => installation

#1210 add description of Ephemeris localization support
  addons/actions.md
Labels: section => add-ons

#1223 Deleted Android app images
  .vuepress/add_placeholders.rb
  .vuepress/docs-sidebar.js
  addons/uis/apps/android.md
  addons/uis/apps/images/en_badge_web_generic.png
  addons/uis/apps/images/get-it-on-fdroid.png
  addons/uis/apps/images/main-menu.png
  addons/uis/apps/images/widget-overview.png
Labels: OH3

#1214 Add Timer::isActive() documentation
  addons/actions.md
Labels: OH3, section => add-ons

#1212 add missing space between words
  installation/linux.md
Labels: section => installation

#1220 Remove architecture from Docker tags
  installation/docker.md
Labels: section => installation

#1233 Migrate v3 preview to VuePress 1.x
  .vuepress/config.js
  .vuepress/docs-sidebar.js
  .vuepress/process_file.rb
  .vuepress/styles/index.styl
  .vuepress/styles/palette.styl
  package-lock.json
  package.json
  prepare-docs.rb
Labels: OH3
