Repository openhab/openhab-docs, pull requests merged in 2020-12, with the labels that each got.

#1149 Update sitemaps.md
  configuration/sitemaps.md
Labels: section => configuration

#1301 Update transformations.md
  addons/transformations.md
Labels: section => add-ons

#1302 Update security.md
  installation/security.md
Labels: section => installation

#1263 [studer] Added icon to documentation
  images/addons/modbus.studer.png
Labels: section => add-ons, section => administration, section => configuration, section => development

#1298 reworked for OH3
  configuration/index.md
Labels: section => configuration

#1297 Add instructions for installation in arch linux
  installation/linux.md
Labels: section => installation

#1282 Feature console link commands
  administration/runtime.md
Labels: section => administration

#1305 OH3 preparations (1/x)
  administration/jsondb.md
  administration/logging.md
  concepts/discovery.md
  concepts/units-of-measurement.md
  configuration/jsr223.md
  configuration/restdocs.md
  configuration/things.md
  installation/armbian.md
  installation/docker.md
  installation/index.md
  installation/linux.md
  installation/macos.md
  installation/rasppi.md
  installation/windows.md
  introduction.md
Labels: section => administration, section => configuration, section => installation

#1303 Update logging instruction for OH3
  administration/logging.md
Labels: section => administration

#1309 Linux_Installation: Use new OH3 start page
  installation/images/Home_Openhab_3.png
  installation/linux.md
Labels: OH3, section => installation

#1308 [WIP] OH3 preparations (2/x)
  configuration/addons.md
  configuration/images/addons_index_installation_paperui.gif
  configuration/items.md
  configuration/things.md
  developers/contributing.md
Labels: OH3, section => configuration, section => development

#1311 [WIP] OH3 preparations (3/x)
  .vuepress/docs-sidebar.js
  configuration/homebuilder.md
  configuration/packages.md
  developers/legacy/compatibilitylayer.md
  installation/windows.md
Labels: OH3, section => configuration

#1316 some logging.md pretty-typing
  administration/logging.md
Labels: section => administration

#1313 Update docs for SmartHome namespace change
  addons/io.md
  administration/bundles.md
  concepts/units-of-measurement.md
  configuration/eclipseiotmarket.md
  configuration/jsr223.md
  configuration/multimedia.md
  configuration/restdocs.md
  configuration/rules-dsl.md
  configuration/rules-ng.md
  configuration/sitemaps.md
  developers/bindings/binding-xml.md
  developers/bindings/config-xml.md
  developers/bindings/faq.md
  developers/bindings/index.md
  developers/bindings/thing-xml.md
  developers/extensionservices/index.md
  developers/guidelines.md
  developers/module-types/index.md
  developers/tests.md
  developers/transformations/index.md
  developers/utils/events.md
  developers/utils/i18n.md
  developers/utils/tools.md
  installation/security.md
Labels: OH3, section => add-ons, section => administration, section => configuration, section => development, section => installation

#1323 Corrections to configuration overview
  configuration/index.md
Labels: section => configuration

#1327 Windows installation documentation fix for OH3
  installation/images/Home_OH_adminCreate.png
  installation/images/JAVA_HOME.png
  installation/images/Karaf_Windows.png
  installation/images/Windows_Service.jpg
  installation/images/Wrapper_Install_Windows.jpg
  installation/images/Wrapper_Start_Windows.png
  installation/images/openHAB_2_Folders.png
  installation/images/openHAB_Folders.png
  installation/windows.md
Labels: section => installation

#1262 [developers] Added Discovery that is bound to a Thing section
  developers/bindings/index.md
Labels: section => add-ons, section => administration, section => configuration, section => development

#1330 Add OH3 corrections
  installation/linux.md
Labels: section => installation

#1335 Edits to Installation index.md file
  installation/index.md
Labels: section => installation

#1336 Edits to developers index.md
  developers/index.md
Labels: section => development

#1343 Update Armbian install guide
  installation/armbian.md
  installation/images/armbian-step1.png
  installation/images/armbian-step2.png
  installation/images/armbian-step3.png
  installation/images/armbian-step5.png
Labels: section => installation

#1337 Add a basic example for dsl rules in the new Main UI.
  configuration/images/ui_rules_dsl_test_example.png
  configuration/images/ui_rules_dsl_test_example_action.png
  configuration/images/ui_rules_dsl_test_example_dsl.png
  configuration/rules-dsl.md
Labels: OH3, section => configuration

#1338 Refactoring the generic JSR223 article for openHAB 3.
  configuration/jsr223-js.md
  configuration/jsr223.md
Labels: OH3, section => configuration

#1333 Updated actions article in preparation for openHAB 3.
  addons/actions.md
Labels: OH3, section => add-ons

#1345 Edits to administration logging page
  administration/logging.md
Labels: section => administration

#1347 Remove nextgen rules article from sidebar temporary.
  .vuepress/docs-sidebar.js
Labels: OH3

#1348 Oh3 json refactoring
  administration/images/add_thing_paper_ui.png
  administration/images/edit_thing_paper_ui.png
  administration/images/ui_add_thing.png
  administration/images/ui_edit_thing.png
  administration/jsondb.md
Labels: section => administration

#1349 Delete jsr223-jython.md
  configuration/jsr223-jython.md
Labels: section => configuration

#1182 Global frontmatter update
  tutorials/beginner/1sttimesetup.md
  tutorials/beginner/configuration.md
  tutorials/beginner/index.md
  tutorials/beginner/logs.md
  tutorials/beginner/persistence.md
  tutorials/beginner/rules.md
  tutorials/beginner/sitemap.md
  tutorials/beginner/uis.md
  tutorials/migration.md
Labels: section => add-ons, section => configuration, section => development, section => installation, section => tutorials

#1354 Secure links should be standard, where available.
  .editorconfig
  .vuepress/public/cookieinfo.min.js
  CONTRIBUTING.md
  addons/actions.md
  addons/io.md
  addons/uis/apps/ios.md
  administration/console.md
  administration/index.md
  administration/logging.md
  administration/serial.md
  configuration/habpanel.md
  configuration/index.md
  configuration/jsr223.md
  configuration/paperui.md
  configuration/rules-dsl.md
  configuration/sitemaps.md
  developers/bindings/binding-xml.md
  developers/bindings/config-xml.md
  developers/bindings/index.md
  developers/bindings/thing-xml.md
  developers/guidelines.md
  developers/ide/intellij.md
  developers/index.md
  developers/osgi/equinox.md
  developers/osgi/eventadmin.md
  developers/osgi/osgi.md
  developers/osgi/osgids.md
  developers/tests.md
  developers/utils/events.md
  developers/utils/i18n.md
  images/tag-install-auto.svg
  images/tag-install-legacy.svg
  images/tag-install-manual.svg
  images/tag-since-1x.svg
  images/tag-since-2x.svg
  installation/linux.md
  installation/macos.md
  installation/openhabian.md
  installation/rasppi.md
  installation/security.md
  installation/synology.md
  installation/windows.md
  introduction.md
  styleguide.md
  tutorials/getting_started/things_advanced.md
Labels: section => add-ons, section => administration, section => configuration, section => development

#1355 no Things bulkload
  configuration/index.md
Labels: section => configuration

#1360 Exec actions timeout is now in seconds.
  addons/actions.md
Labels: section => add-ons

#1364 Update macOS doc to 3.0.0
  installation/macos.md
Labels: section => installation

#1371 Fix link to first-time tutorial
  installation/linux.md
Labels: section => installation

#1369 Improved Exec Action explanation with examples.
  addons/actions.md
Labels: section => add-ons

#1375 Updated paths to remove openhab2
  administration/console.md
Labels: section => administration

#1377 Start with Markdownlint for vscode editing
  .markdownlint.json
  installation/armbian.md
  installation/docker.md
  installation/index.md
  installation/linux.md
  installation/macos.md
  installation/qnap.md
  installation/security.md
  installation/synology.md
  installation/windows.md
Labels: section => installation

#1382 Add Restdocs again
  .vuepress/docs-sidebar.js
  configuration/restdocs.md
Labels: section => configuration

#1384 Remove reference to importing .things file configuration
  configuration/index.md
Labels: section => configuration

#1386 Update actions.md
  addons/actions.md
Labels: section => add-ons

#1388 jsr223: correct pathes still pointing to OH2
  configuration/jsr223.md
Labels: section => configuration

#1387 Installation/index: add section for directory info
  installation/index.md
Labels: section => installation

#1392 Updates to administration / console
  administration/console.md
Labels: section => administration

#1393 Update administration / bundles
  administration/bundles.md
Labels: section => administration

#1396 Update security.md
  installation/security.md
Labels: section => installation

#1395 Add section about Authentication to restdocs
  configuration/restdocs.md
Labels: section => configuration

#1401 updated the VSCode extension icon
  configuration/editors.md
  configuration/images/vscode_extensiontab_icon.png
Labels: section => configuration

#1403 Add crypto_policy unlimited as environment variable
  installation/docker.md
Labels: section => installation
