Repository openhab/openhab-docs, pull requests merged in 2020-02, with the labels that each got.

#1154 Update README (3.x)
  README.md
Labels: OH3

#1155 Update preview site title (3.x)
  .vuepress/config.js
Labels: OH3

#1146 Added var and VA units to UoM
  concepts/units-of-measurement.md
Labels: OH3

#1148 Fix filepath to keystore
  installation/security.md
Labels: section => installation

#1150 Slight language corrections
  configuration/packages.md
Labels: OH3, section => configuration

#1152 additional example for non default persistence service
  configuration/persistence.md
Labels: OH3, section => configuration

#1104 Added missing preset variables
  configuration/jsr223.md
Labels: Feedback, OH3, section => configuration
