Repository openhab/openhab-docs, pull requests merged in 2020-06, with the labels that each got.

#929 [fmiweather] logo for FMI Weather binding
  images/addons/fmiweather.png
Labels: stat: dependency :collision:

#1227 Update contributing.md
  developers/contributing.md
Labels: section => development

#1228 Update contributing.md
  developers/contributing.md
Labels: section => development

#1230 Add doc folder to the binding directory structure
  developers/guidelines.md
Labels: section => development

#1234 Make Subheadings Use Proper Subheading Syntax
  developers/buildsystem.md
Labels: section => development

#1231 Fix broken ESH links
  configuration/items.md
  configuration/multimedia.md
  configuration/rules-dsl.md
  developers/legacy/compatibilitylayer.md
Labels: section => configuration

#1238 Update logging.md
  administration/logging.md
Labels: section => administration

#1229 Remove Apache Commons from Default Libraries
  developers/guidelines.md
Labels: OH3, section => development

#1240 Revise Java recommendations
  .vuepress/docs-sidebar.js
  installation/index.md
  installation/pine.md
Labels: section => installation, stat: dependency :collision:

#1241 Update security.md
  installation/security.md
Labels: section => installation

#1243 Fix DecimalType hex conversion example
  configuration/rules-dsl.md
Labels: section => configuration
