Repository openhab/openhab-docs, pull requests merged in 2020-01, with the labels that each got.

#1122 update security.md
  installation/security.md
Labels: section => installation

#1119 Installation instructions for Armbian
  installation/armbian.md
  installation/images/armbian-step1.png
  installation/images/armbian-step2.png
  installation/images/armbian-step3.png
  installation/images/armbian-step4.png
  installation/images/armbian-step5.png
  installation/images/boards1.png
Labels: section => installation

#1128 Add troubleshooting section
  installation/docker.md
Labels: section => installation

#1124 VSCode add to setting
  developers/ide/examples/vscode/settings.json
  developers/ide/images/ide_setup_vscode_settings.png
  developers/ide/vscode.md
Labels: Feedback

#1114 Changed related to rename of openHAB2-addons
  .vuepress/process_file.rb
  .vuepress/process_main_docs.rb
  README.md
  developers/bindings/index.md
  developers/contributing.md
  developers/guidelines.md
  developers/ide/eclipse.md
  developers/ide/vscode.md
  developers/index.md
  developers/legacy/compatibilitylayer.md
  developers/legacy/ide.md
  developers/legacy/images/ide0.png
  developers/legacy/images/ide1.png
  developers/legacy/targetplatform.md
  developers/legacy/tycho.md
Labels: priority: high :fire:, section => development, stat: dependency :collision:

#1138 Remove bluetooth from Linux setup docs
  installation/linux.md
Labels: section => installation

#1140 [ephemeris] Changed "Joda DateTime" to "ZonedDateTime"
  addons/actions.md
Labels: section => add-ons

#1143 Update restdocs.md
  configuration/restdocs.md
Labels: section => configuration

#1144 Corrected and updated logging example
  administration/logging.md
Labels: section => administration
