Repository openhab/openhab-docs, pull requests merged in 2020-11, with the labels that each got.

#1281 Changed console command prefix to 'openhab'
  administration/runtime.md
Labels: section => administration

#1291 fixed broken link to Zulu installation documentation
  installation/linux.md
Labels: section => installation

#1294 Updated rule dsl docs to openHAB 3 for datetime and implicit var changes
  configuration/rules-dsl.md
Labels: section => configuration

#1295 Remove EXTRA_JAVA_OPTS for serial devices
  installation/linux.md
Labels: section => installation

#1293 added expire documentation
  configuration/items.md
Labels: section => configuration

#1292 Update sitemaps.md
  configuration/sitemaps.md
Labels: section => configuration

#1289 Update actions.md // Minor bug in the documentation
  addons/actions.md
Labels: section => add-ons
