Repository openhab/openhab-docs, pull requests merged in 2020-03, with the labels that each got.

#1167 Added Hotlink from "label" section to "state presentation"
  configuration/items.md
Labels: section => configuration

#1164 Added note about broken action
  addons/actions.md
Labels: section => add-ons

#1170 Update index.md
  developers/index.md
Labels: section => development

#1172 typo in example
  configuration/persistence.md
Labels: section => configuration

#1173 Ensure that UTF-8 is used as default for all text files on Windows
  installation/windows.md
Labels: section => installation

#1174 Update demo URL and add demo.rules URL
  configuration/rules-dsl.md
Labels: section => configuration

#1177 Replace outdated zulu.org link.
  installation/index.md
Labels: section => installation
