Repository openhab/openhab-docs, pull requests merged in 2020-04, with the labels that each got.

#1185 Update persistence.md
  configuration/persistence.md
Labels: section => configuration

#1186 Update things.md
  configuration/things.md
Labels: section => configuration

#1190 Correct typos
  addons/index.md
  concepts/audio.md
  concepts/discovery.md
  concepts/index.md
  concepts/items.md
  concepts/things.md
  concepts/units-of-measurement.md
  configuration/addons.md
  configuration/items.md
  configuration/sitemaps.md
  configuration/things.md
  developers/ide/vscode.md
  developers/index.md
  developers/osgi/osgi.md
  installation/linux.md
  introduction.md
  tutorials/beginner/1sttimesetup.md
  tutorials/beginner/configuration.md
  tutorials/beginner/index.md
  tutorials/beginner/logs.md
  tutorials/beginner/rules.md
  tutorials/beginner/sitemap.md
  tutorials/beginner/uis.md
Labels: section => add-ons, section => configuration, section => development, section => installation

#1191 Update sitemap.md section charts
  configuration/sitemaps.md
Labels: section => configuration

#1198 typo
  configuration/jsr223-jython.md
Labels: section => configuration

#1199 adjust to new bundle handling
  developers/buildsystem.md
Labels: section => development

#1197 Installation details
  configuration/jsr223-jython.md
Labels: section => configuration

#1202 Update sitemaps.md, section Visibility
  configuration/sitemaps.md
Labels: section => configuration

#1206 Moved information about DateTime Group functions 'LATEST' / 'EARLIEST'
  concepts/items.md
  configuration/items.md
Labels: section => configuration

#1205 Add section for documentation contributions
  developers/contributing.md
Labels: section => development
