Repository openhab/openhab-docs, pull requests merged in 2021-02, with the labels that each got.

#1479 Update items.md
  configuration/items.md
Labels: section => configuration

#1468 Update NGINX configuration for OH3
  installation/security.md
Labels: section => installation

#1485 Fixed the item type of the timestamp profiles and moved it next to the other State profiles
  configuration/items.md
Labels: section => configuration

#1482 Update the Time rule to a complete example and extend the explanation of .cancel()
  addons/actions.md
Labels: Feedback, section => add-ons

#1491 Note on cert exchange in security.md
  installation/security.md
Labels: section => installation

#1492 [docs] Cover naming of Channel ID
  developers/guidelines.md
Labels: section => development

#1499 Added 'Range' profile
  configuration/items.md
Labels: section => configuration

#1500 Added documentation about Semantics features in Rules
  addons/actions.md
  tutorials/getting_started/model.md
Labels: section => add-ons
