Repository openhab/openhab-docs, pull requests merged in 2021-04, with the labels that each got.

#1528 Update index.md
  developers/index.md
Labels: section => development

#1532 Update rules-dsl.md
  configuration/rules-dsl.md
Labels: section => configuration

#1537 Add files via upload
  images/addons/qbus.JPG
Labels: section => configuration

#1543 Optimize profile example section layout
  configuration/items.md
Labels: section => configuration

#1548 Change stable Linux repository locations
  configuration/migration/index.md
  installation/linux.md
Labels: section => installation

#1556 Adding a couple of flags and line ending info
  developers/index.md
Labels: section => development
