Repository openhab/openhab-docs, pull requests merged in 2021-05, with the labels that each got.

#1561 Improve sinks documentation
  configuration/multimedia.md
  developers/audio/index.md
Labels: section => configuration

#1562 Remove outdated info about voice recognition in Android app
  configuration/multimedia.md
Labels: section => configuration

#1568 Update security.md
  installation/security.md
Labels: section => installation

#1570 spelling fixed
  tutorials/getting_started/things_advanced.md
Labels: release-stable

#1571 comma added
  tutorials/getting_started/auto_overview.md
Labels: release-stable

#1573 Added note and example of new Timestamp Offset Profile
  configuration/items.md
Labels: section => configuration

#1575 Update pages_intro.md
  tutorials/getting_started/pages_intro.md
Labels: release-stable

#1564 [luftdateninfo ] logo for present binding
  images/addons/luftdateninfo.png
Labels: release-stable

#1579 Update index.md
  installation/index.md
Labels: release-stable

#1582 Remove QNAP article. 🗑
  .vuepress/docs-sidebar.js
  installation/qnap.md
Labels: release-stable, stat: dependency :collision:

#1581 Tabberize docker article a bit.
  installation/docker.md
Labels: release-stable, section => installation

#1540 Add logo section to dev documentation
  developers/bindings/index.md
Labels: release-stable

#1552 Add official logo for Miele Cloud binding
  images/addons/mielecloud.png
Labels: stat: dependency :collision:

#1589 Change OH versions from 2.5.0 to 3.1.0 in doc files
  developers/buildsystem.md
  developers/ide/vscode.md
Labels: release-stable, section => development

#1590 Update actions.md
  addons/actions.md
Labels: release-stable, section => add-ons
