Repository openhab/openhab-docs, pull requests merged in 2021-01, with the labels that each got.

#1410 detailed the installation process for Zulu11 on Raspberry
  installation/rasppi.md
Labels: section => installation

#1409 Update several file paths for openHAB 3 release
  administration/serial.md
  appendix/contributing.md
  installation/docker.md
  installation/linux.md
Labels: section => administration, section => installation

#1418 Change openHAB 2 references to openHAB without version number
  installation/synology.md
Labels: section => installation

#1422 Update docker.md
  installation/docker.md
Labels: section => installation

#1423 Fix dnf repository gpgkey URL
  installation/linux.md
Labels: section => installation

#1412 Update first_steps.md
  tutorials/getting_started/first_steps.md
Labels: Feedback

#1420 [installation/rasspi.md] General overhaul
  installation/images/Home_Openhab_4.png
  installation/rasppi.md
Labels: section => installation

#1424 Update rasppi.md
  installation/rasppi.md
Labels: section => installation

#1425 Remove reference to PaperUI
  configuration/things.md
Labels: section => configuration

#1427 Update tutorial link
  configuration/things.md
Labels: section => configuration

#1429 Update rasppi.md
  installation/rasppi.md
Labels: section => installation

#1428 Add info how to disable authentication
  configuration/restdocs.md
Labels: section => configuration

#1432 Markdown linting bulk fix
  .github/markdownStyle.rb
  .markdownlint.json
  administration/jsondb.md
  administration/logging.md
  concepts/items.md
  developers/ide/vscode.md
  installation/index.md
  installation/qnap.md
  installation/rasppi.md
  installation/security.md
  installation/synology.md
  installation/windows.md
  introduction.md
  tutorials/getting_started/first_steps.md
Labels: section => administration, section => installation

#1435 Fix linter errors
  .github/markdownStyle.rb
  .markdownlint.json
  addons/actions.md
  administration/console.md
  administration/jsondb.md
  administration/runtime.md
  administration/serial.md
  appendix/contributing.md
  appendix/help.md
  concepts/audio.md
  concepts/categories.md
  concepts/discovery.md
  concepts/profiles.md
  concepts/things.md
  concepts/units-of-measurement.md
  configuration/editors.md
  configuration/habpanel.md
  configuration/index.md
  configuration/items.md
  configuration/jsr223.md
  configuration/paperui.md
  configuration/persistence.md
  configuration/restdocs.md
  configuration/rules-dsl.md
  configuration/rules-ng.md
  configuration/sitemaps.md
  configuration/things.md
Labels: section => add-ons, section => administration, section => configuration

#1437 Fix linter errors.
  CONTRIBUTING.md
  README.md
  addons/actions.md
  administration/console.md
  configuration/habpanel.md
  configuration/migration/index.md
  configuration/persistence.md
  configuration/sitemaps.md
  developers/bindings/binding-xml.md
  developers/bindings/config-xml.md
  developers/bindings/faq.md
  developers/bindings/index.md
  developers/bindings/thing-xml.md
  developers/buildsystem.md
  developers/contributing.md
  developers/guidelines.md
  developers/ide/eclipse.md
  developers/ide/intellij.md
  developers/ide/vscode.md
  developers/osgi/equinox.md
  developers/utils/events.md
  installation/rasppi.md
  installation/windows.md
  tutorials/getting_started/first_steps.md
  tutorials/getting_started/things_advanced.md
Labels: section => add-ons, section => administration, section => configuration, section => development, section => installation

#1439 Fix linter errors
  .github/workflows/markdownlint.yml
  .markdownlint.json
  addons/actions.md
  administration/console.md
  developers/bindings/index.md
  developers/buildsystem.md
  developers/ide/intellij.md
  developers/ide/vscode.md
  installation/windows.md
  introduction.md
Labels: section => add-ons, section => administration, section => development, section => installation

#1450 Replace local urls with inline code. CHange one occurence to openhabian.
  configuration/restdocs.md
  configuration/rules-ng.md
  installation/macos.md
  installation/security.md
  tutorials/getting_started/first_steps.md
Labels: section => configuration, section => installation

#1454 remove uncessary instructions f. contribution guide
  developers/contributing.md
Labels: section => development

#1455 Update items.md
  configuration/items.md
Labels: section => configuration

#1453 Created API token docs
  .vuepress/docs-sidebar.js
  configuration/apitokens.md
  configuration/images/apitoken_create_token.png
  configuration/images/apitoken_example.png
  configuration/images/apitoken_login.png
  configuration/images/apitoken_overview_tokens.png
  configuration/images/apitoken_token.png
Labels: section => configuration

#1456 Update rules-dsl.md
  configuration/rules-dsl.md
Labels: section => configuration

#1457 Remove paper ui references.
  .github/workflows/markdownlint.yml
  addons/index.md
  addons/io.md
  addons/uis.md
  configuration/addons.md
  configuration/apitokens.md
  configuration/habpanel.md
  configuration/multimedia.md
  configuration/persistence.md
  configuration/rules-dsl.md
  configuration/things.md
  developers/audio/index.md
  developers/bindings/index.md
  developers/ide/eclipse.md
  developers/utils/tools.md
  installation/docker.md
Labels: section => add-ons, section => configuration, section => installation

#1458 Update items.md
  configuration/items.md
Labels: section => configuration

#1459 Remove cronmaker since it doesn't support HTTPS
  configuration/rules-dsl.md
Labels: section => configuration

#1460 Update links to target "main" branches
  .vuepress/process_file.rb
  .vuepress/process_main_docs.rb
  addons/actions.md
  configuration/editors.md
  configuration/habpanel.md
  configuration/multimedia.md
  configuration/rules-dsl.md
  configuration/sitemaps.md
  developers/bindings/faq.md
  developers/bindings/index.md
  developers/guidelines.md
  developers/ide/examples/vscode/settings.json
  developers/ide/vscode.md
  installation/linux.md
  installation/macos.md
  installation/qnap.md
  installation/security.md
  tutorials/getting_started/model.md
Labels: section => add-ons, section => configuration, section => development, section => installation

#1463 Fix typo in restdocs
  configuration/restdocs.md
Labels: section => configuration

#1465 Update rules-dsl.md
  configuration/rules-dsl.md
Labels: section => configuration

#1471 Delete habpanel.md
  .vuepress/add_placeholders.rb
  configuration/habpanel.md
Labels: section => configuration

#1473 cosmetics and refer to list of migrated bindings
  configuration/index.md
Labels: section => configuration
