Repository openhab/openhab-docs, pull requests merged in 2021-10, with the labels that each got.

#1652 Add logos for featured add-ons in marketplace
  images/addons/mactts.png
  images/addons/metrics.png
  images/addons/openhabcloud.png
Labels: section => add-ons, release-stable

#1663 Logo for Souliss binding
  images/addons/souliss.png
Labels: release-stable

#1664 Fix link in Contributing section
  developers/contributing.md
Labels: section => development

#1666 Remove broken link to Raspberry Pi page
  installation/index.md
Labels: section => installation

#1656 Removed author-tags from binding definitions
  developers/guidelines.md
Labels: section => development
