Repository openhab/openhab-docs, pull requests merged in 2021-07, with the labels that each got.

#1614 Add default libraries for SSE
  developers/guidelines.md
Labels: section => development

#1618 Update rules-dsl.md
  configuration/rules-dsl.md
Labels: release-stable, section => configuration

#1620 Clarify why mixing text and UI is bad
  configuration/index.md
Labels: release-stable, section => configuration

#1621 Update wrong hostname in first_steps.md
  tutorials/getting_started/first_steps.md
Labels: release-stable

#1622 Ensure that UTF-8 is used as default for all text files on Windows
  installation/windows.md
Labels: release-stable, section => installation
