Repository openhab/openhab-docs, pull requests merged in 2021-03, with the labels that each got.

#1501 Fix typo
  developers/guidelines.md
Labels: section => development

#1502 add habot interpreter
  configuration/multimedia.md
Labels: section => configuration

#1504 add habot interpreter (#1502)
  configuration/multimedia.md
Labels: section => configuration

#1505 Update rules-dsl.md with non-404 demo.rules link
  configuration/rules-dsl.md
Labels: section => configuration

#1506 Update security.md
  installation/security.md
Labels: section => installation

#1507 Update actions.md
  addons/actions.md
Labels: section => add-ons

#1510 Add some logger examples
  administration/logging.md
Labels: section => administration

#1508 Update rules-dsl.md
  configuration/rules-dsl.md
Labels: section => configuration

#1511 Startlevel execution support for jsr223 scripts
  configuration/jsr223.md
Labels: section => configuration

#1513 Update transformations.md
  addons/transformations.md
Labels: section => add-ons

#1515 Update logging.md to correct the log:set statement in the debug example
  administration/logging.md
Labels: section => administration

#1521 buildsystem / external dependecy instructions fixed
  developers/buildsystem.md
Labels: section => development
