Repository openhab/openhab-docs, pull requests merged in 2021-06, with the labels that each got.

#1593 Update items.md
  configuration/items.md
Labels: release-stable, section => configuration

#1594 Update vscode.md
  developers/ide/vscode.md
Labels: release-stable

#1595 Switch branch name to match repo
  developers/ide/eclipse.md
Labels: release-stable

#1599 Update jsr223.md
  configuration/jsr223.md
Labels: release-stable

#1602 Remove requirement for compact profile 2 as those do not exist anymore for Java 11
  developers/guidelines.md
Labels: release-stable, section => development

#1603 fix: correct mvn command
  developers/index.md
Labels: release-stable, section => development

#1611 Fix config.core package references
  configuration/jsr223.md
Labels: section => configuration
