Repository openhab/openhab-docs, pull requests merged in 2021-11, with the labels that each got.

#1665 Update Tests documentation
  developers/tests.md
Labels: section => development

#1670 Fixed example for COUNT group aggregation function
  configuration/items.md
Labels: section => configuration

#1671 Capitalize product names and minor fixes
  developers/buildsystem.md
  developers/guidelines.md
  developers/ide/vscode.md
  developers/index.md
  developers/osgi/equinox.md
  developers/osgi/osgi.md
  installation/docker.md
  installation/security.md
Labels: section => installation, section => development

#1669 Remove JCenter reference
  developers/buildsystem.md
Labels: section => development

#1673 Add DSM 7 support to synology.md
  installation/synology.md
Labels: section => installation

#1632 Add Users command
  administration/runtime.md
Labels: section => administration

#1677 Remove broken basic ui link.
  ui/sitemaps.md
Labels: release-stable

#1681 Remove classic ui from switchsupport.
  ui/sitemaps.md
Labels: release-stable
